.body {
    margin: 0rem 5rem;
    background-color: black;
}



.first-big-row {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: rgb(4, 25, 43);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 200px;
}

.firstrow-right {
display: flex;
align-items: flex-start;
}
.firstrow-left {
display: flex;
align-items: flex-start;
}

.second-row {
display: flex;
justify-content: flex-start;
align-content: space-around;
margin: 100px 200px;
gap: 3rem;
}

.secondrow-right {
width: 500px;
height: 250px;
background-color: rgb(137, 137, 158);
display: flex;
align-items: center;
justify-content: center;
}
.secondrow-left {
display: flex;
flex-direction: column;
width: 475px;
height: 200px;
align-content: center;
justify-content: center;
font-size: 17px;
}

.button {
background-color: rgb(57, 57, 238);
color: whitesmoke;
font-size: large;
border-radius: 10px;
width: 120px;
height: 70px;
margin: 1px;
padding: 10px;
} 